<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Товар | Element</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/maginfic-popup.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/card.min.css">
</head>
<body>
<header class="header">
    <div class="contact">
        <div class="container row align-items-center">
            <a class="contact__address col-xs col-sm-6" href="contacts.html">г. Москва, ул. Горького, д. 123</a>
            <div class="contact__items col-xs col-sm-6 col-md-5 col-lg-4 clo-xl-3 d-flex justify-content-between ">
                <a href="tel:+74959999999">+7 495 999 99 99</a>
                <a href="mailto:mail@sitename.ru">mail@sitename.ru</a>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container row">
            <a class="header__logo" href="index.html" aria-label="Ссылка на домашнюю страницу">
                <img src="img/header/logo.png" alt="Логотип компании Элемент">
                <span>Элемент</span>
            </a>
            <div class="header__navigation">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent pr-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="catalog.html">Каталог<span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="about.html">О нас</a>
                            <a class="nav-item nav-link" href="galery.html">Галерея</a>
                            <a class="nav-item nav-link" href="contacts.html">Контакты</a>
                        </div>
                    </div>
                </nav>
                <form class="form-inline">
                    <div class="form__search">
                        <label class="search__label" for="form-search">Найти</label>
                        <input class="form-control mr-lg-2" id="form-search" type="search" placeholder="Поиск по сайту..." aria-label="Search">
                    </div>
                    <button class="btn btn-outline-secondary my-2 my-sm-1" type="submit"></button>
                </form>
                <a class="btn list-icon" href="spisok.html"></a>
            </div>
        </div>
    </div>
</header>
<main class="main">

    <section class="hero hero--card">
        <h2 class="visually-hidden">Страница о компании</h2>
        <div class="container">
            <nav aria-label="breadcrumb bg-transparent">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                    <li class="breadcrumb-item"><a href="catalog.html">Каталог</a></li>
                    <li class="breadcrumb-item"><a href="catalog.html">Промышленные материалы</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Название товара</li>
                </ol>
            </nav>
        </div>
    </section>

    <form class="card" action="post">
        <div class="container">
            <h1 class="card__title">Название товара в&nbsp;каталоге в&nbsp;несколько строк</h1>
            <ul class="card__types">
                <li class="card__type">Износостойкая</li>
                <li class="card__type">Органорастворимая</li>
            </ul>
            <div class="card__wrapper">
                <div class="card__info">
                    <div class="card__chars">
                        <h2 class="chars__title">Характеристики</h2>
                        <table class="chars__items">
                            <tr>
                                <td>Бренд:</td>
                                <td>BRAND NAME</td>
                            </tr>
                            <tr>
                                <td>Артикул:</td>
                                <td>AXL-12345</td>
                            </tr>
                            <tr>
                                <td>Глянец:</td>
                                <td>Полуматовая</td>
                            </tr>
                            <tr>
                                <td>Время высыхания:</td>
                                <td>3 часа</td>
                            </tr>
                            <tr>
                                <td>Плотность:</td>
                                <td>около 1,3 г/мл</td>
                            </tr>
                        </table>
                        <button class="chars__button">Все характеристики</button>
                    </div>
                    <div class="card__volume">
                        <div class="form-group">
                            <label class="volume__title" for="volumeSelect">Объем</label>
                            <select class="form-control" id="volumeSelect">
                                <option value="2,5l">2,5 л</option>
                                <option value="5l">5 л</option>
                            </select>
                        </div>
                    </div>
                    <div class="card__nums">
                        <button class="nums__minus">Меньше</button>
                        <label class="nums__label" for="card-numbers">Количество
                            <input class="nums__input" name="card-numbers" type="number" value="1" id="card-numbers" min="1">
                        </label>
                        <button class="nums__plus">Больше</button>
                    </div>
                    <div class="card__price">
                        <span class="price">3 360 руб.</span>
                    </div>
                    <button type="submit" class="price__buy">Купить</button>
                </div>
                <div class="card__wrapper-right">
                    <div class="card__photos">
                        <a class="magnific-image" href="img/page-card/item-1.jpg" title="big product photo">
                            <img src="img/page-card/item-1.jpg" alt="Фото товара 1" class="card__photo">
                        </a>
                        <a class="magnific-image" href="img/page-card/item-2.jpg" title="big product photo">
                            <img src="img/page-card/item-2.jpg" alt="Фото товара 1" class="card__photo">
                        </a>
                        <a class="magnific-image" href="img/page-card/item-3.jpg" title="big product photo">
                            <img src="img/page-card/item-3.jpg" alt="Фото товара 1" class="card__photo">
                        </a>
                        <a class="magnific-image" href="img/page-card/item-4.jpg" title="big product photo">
                            <img src="img/page-card/item-4.jpg" alt="Фото товара 1" class="card__photo">
                        </a>
                    </div>
                    <div class="card__photos--small">
                        <img src="img/page-card/item-1.jpg" alt="Фото товара 1" class="card__photo">
                        <img src="img/page-card/item-2.jpg" alt="Фото товара 1" class="card__photo">
                        <img src="img/page-card/item-3.jpg" alt="Фото товара 1" class="card__photo">
                        <img src="img/page-card/item-4.jpg" alt="Фото товара 1" class="card__photo">
                    </div>
                </div>
            </div>
        </div>

        <div class="card__tab-nav">
            <div class="container">
                <ul class="tab-nav__items">
                    <li class="tab-nav__item tab-nav__descr tab-nav__item--active"><a href="#">Описание</a></li>
                    <li class="tab-nav__item tab-nav__chars"><a href="#">Характеристики</a></li>
                    <li class="tab-nav__item tab-nav__docs"><a href="#">Документы</a></li>
                </ul>
            </div>
        </div>

        <div class="card__tab-items">
            <div class="container">
                <div class="tab__item tab__descr active">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam harum culpa pariatur cum sint, id eos ipsa rerum! Facilis magnam commodi, voluptate sequi mollitia, ipsum porro vel pariatur vero numquam animi eos itaque rerum illo sed aliquam doloremque vitae quae, repellat iure. Ad dolores in beatae rem aspernatur perspiciatis laborum dolorum nulla accusantium delectus non est hic libero nihil aliquam, architecto ex pariatur fuga aut officiis ab! Iure, delectus quae consequuntur quisquam, maiores reprehenderit libero quaerat deleniti saepe tenetur esse eaque at perspiciatis earum quidem mollitia reiciendis vitae. Assumenda eaque quod consequuntur, debitis incidunt cum possimus placeat quo modi aut.</p>
                    <h3>Подготовка поверхности</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, in id iusto nostrum hic eveniet amet ea, voluptate, nisi ipsa veritatis nam nesciunt iure sit alias. Aliquam, assumenda quae suscipit mollitia porro dicta, doloremque consectetur cupiditate asperiores saepe tempora vel quidem libero neque? Assumenda ipsa aliquid omnis fugiat, perspiciatis dignissimos ad voluptas nisi possimus necessitatibus hic et temporibus suscipit eum animi earum neque impedit sit quaerat ex sunt obcaecati expedita, sapiente modi. Iusto nemo beatae rem? Nam quaerat eos natus harum nobis quas, eligendi ut tenetur porro quod enim exercitationem aliquam ratione quidem dolorem aut at nihil quam adipisci? Libero?</p>
                    <h3>Нанесение</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio suscipit consequuntur nulla modi ex iusto numquam iste perferendis totam. Dolore, beatae magnam? Quidem commodi deserunt rem pariatur odio quas dicta ea modi atque nisi aut ad ullam placeat similique tenetur dolorem, harum quod maxime repudiandae ut ab cum quasi earum! Temporibus cupiditate enim velit molestiae quae maiores, cumque officia ipsam sint. Quibusdam cumque voluptate facilis in possimus odio, fuga ipsum rem error officia. Praesentium cupiditate magnam dolorum inventore ab nisi totam minima blanditiis quaerat, corporis aperiam temporibus rerum rem expedita qui incidunt commodi repellat cum reprehenderit eaque deleniti culpa ea.</p>
                    <h3>Условия нанесения</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, alias aperiam. Dolore voluptate rerum nulla, minima maxime beatae enim consequuntur culpa sequi ex delectus esse possimus ipsum, accusamus dolor molestias.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, alias aperiam. Dolore voluptate rerum nulla, minima maxime beatae enim consequuntur culpa sequi ex delectus esse possimus ipsum, accusamus dolor molestias.</p>
                </div>
                <div class="tab__item tab__chars">
                    <table>
                        <tr>
                            <td>Бренд:</td>
                            <td>BRAND NAME</td>
                        </tr>
                        <tr>
                            <td>Артикул:</td>
                            <td>AXL-12345</td>
                        </tr>
                        <tr>
                            <td>Глянец:</td>
                            <td>Полуматовая</td>
                        </tr>
                        <tr>
                            <td>Время высыхания:</td>
                            <td>3 часа</td>
                        </tr>
                        <tr>
                            <td>Плотность:</td>
                            <td>около 1,3 г/мл</td>
                        </tr>
                        <tr>
                            <td>Бренд:</td>
                            <td>BRAND NAME</td>
                        </tr>
                        <tr>
                            <td>Артикул:</td>
                            <td>AXL-12345</td>
                        </tr>
                        <tr>
                            <td>Глянец:</td>
                            <td>Полуматовая</td>
                        </tr>
                        <tr>
                            <td>Время высыхания:</td>
                            <td>3 часа</td>
                        </tr>
                        <tr>
                            <td>Плотность:</td>
                            <td>около 1,3 г/мл</td>
                        </tr>
                    </table>
                </div>
                <div class="tab__item tab__docs">
                    <h3>Технические спецификации</h3>
                    <p>
                        <a href="#">ru_1350_7.pdf</a>
                        <span>(8,3&nbsp;Мб)</span>
                        <a href="#">Скачать</a>
                    </p>
                    <p>
                        <a href="#">ru_1350_7.pdf</a>
                        <span>(8,3&nbsp;Мб)</span>
                        <a href="#">Скачать</a>
                    </p>
                    <h3>Паспорта безопасности</h3>
                    <p>
                        <a href="#">FUTURA 15_1350_EU_ru_18579.pdf</a>
                        <span>(8,3&nbsp;Мб)</span>
                        <a href="#">Скачать</a>
                    </p>
                    <h3>Карта цветов</h3>
                    <p>
                        <a href="#">Карта цветов для интерьеров</a>
                        <span>(8,3&nbsp;Мб)</span>
                        <a href="#">Скачать</a>
                    </p>
                </div>
            </div>
        </div>
    </form>

</main>

<footer class="footer">
    <div class="container">
        <section class="questions">
            <h2 class="questions__title">
                <b>Есть вопросы?</b>
                Мы вам перезвоним!</h2>
            <form action="post" class="questions__form">
                <input class="questions__input form__item" type="text" name="questions-name" id="questions-name">
                <label class="questions__label" for="questions-name">Как к вам обращаться?</label>
                <input class="questions__input form__item" type="tel" name="questions-phone" id="questions-phone">
                <label class="questions__label questions__label--phone" for="questions-phone">Ваш номер телефона</label>
                <button class="button button--dark form__item magnific-questions" type="submit" data-mfp-src=".questions-popup">Отправить</button>
            </form>
        </section>
        <section class="footer__navigation">
            <h2 class="visually-hidden">Дополнительная навигация по сайту</h2>
            <a href="index.html" aria-label="Ссылка на домашнюю страницу">
                <img class="footer__logo" src="img/footer/logo-white.png" alt="Логотип компании">
            </a>
            <ul class="footer__nav d-flex flex-wrap justify-content-around">
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="galery.html">Галерея</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
            <span class="footer__copy">Lorem ipsum</span>
        </section>
    </div>
</footer>

<div class="popup questions-popup mfp-hide">
    <h2 class="popup__title">Готово!</h2>
    <p>Совсем скоро наш менеджер свяжется с вами и ответит на все ваши вопросы.</p>
</div>

<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
